<style>
  .navbar-custom {
    background-color: #5233EA !important;
  }

  .navbar-custom .navbar-brand img {
    filter: brightness(0) invert(1);
  }
</style>
<section>
    <nav class="navbar navbar-dark navbar-custom ">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://app.skydropx.com/dashboard">
            Skydropx
          </a>
        </div>
    </nav>
</section>